@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "timesnewroman";
  src: url("./fonts/times new roman.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
